<!DOCTYPE html>
<html>
  <%-include("./partials/head", {title: title})%>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (locals.user) {%>
      <p>Hi, <%=user.username %></p>
      <a href="/users/logout">Log out</a>
      <a href="/folder/my-drive">My drive</a>
    <% } else {%>
      <a href="/users/login">Log in</a>
      <a href="/users/signup">Sign up</a>
    <% } %>
  </body>
</html>
